<div class="ml-auto py-5 pl-4">
    <h3 class="text-3xl font-bold">User Information</h3>
    <div class="flex items-center justify-center">
        <img class="rounded w-36 h-36" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
            alt="Extra large avatar">
    </div>
</div>
<div class="w-full">
    <p class=" ml-3 my-5 text-base font-bold">Joined at {{this.user.joinedDate|date:"HH:mm dd/MM/yyyy"}}</p>
</div>

<div class="flex items-center justify-center">
    <div class="xl:w-[calc(100%-60rem)] lg:w-full md:w-full sm:w-full">
        <div class="border border-zinc-700 p-2 grow rounded-lg">
            <form [formGroup] = "currentUser" class="" (submit)="onSubmit()" (change)="onChange()">
                <input type="text" id="id" name="id" formControlName="id" [hidden]="true">
                <div class="flex flex-col py-2">
                    <label class="pr-1 font-medium text-base" for="username">User Name</label>
                    <div class="flex border rounded-lg">
                        <span class="inline-flex items-center px-3 text-xl text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md ">@</span>
                        <input id="username" name="username" formControlName="userName" class="rounded-r-lg text-base p-2.5 w-full" type="text">
                    </div>
                </div>
                <div class="grid lg:grid-cols-2 gap-2">
                    <div>
                        <label class="pr-1 font-medium text-base" for="firstName">First Name</label>
                        <div class="border rounded-lg">
                            <input id="firstName" name="firstName" formControlName="firstName" class="rounded-lg text-base p-2.5 w-full" type="text">
                        </div>
                    </div>
                    <div>
                        <label class="pr-1 font-medium text-base" for="lastName">Last Name</label>
                        <div class="border rounded-lg">
                            <input id="lastName" name="lastName" formControlName="lastName" class="rounded-lg text-base p-2.5 w-full" type="text">
                        </div>
                    </div>
                    <div>
                        <label class="pr-1 font-medium text-base" for="email">Email</label>
                        <div class="border rounded-lg">
                            <input type="email" id="email" formControlName="email" name="email" class="rounded-lg text-base p-2.5 w-full" type="email">
                        </div>
                    </div>
                    <div>
                        <label class="pr-1 font-medium text-base" for="phone">Phone</label>
                        <div class="border rounded-lg">
                            <input id="phone" name="phone" formControlName="phone" class="rounded-lg text-base p-2.5 w-full" type="tel">
                        </div>
                    </div>
                </div>
                <div class="pt-5 flex justify-end">
                    <button id="submitBtn" *ngIf="submitBtn" type="submit" class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>