<div
    class="flex flex-col h-[calc(100%-5rem)] overflow-y-hidden hover:overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
    <div class="flex justify-center">
        <div *ngIf="spinnerService.visibility | async" class="w-full flex justify-center animate-spin">
            <svg class="w-8 h-8" width="590" height="590" viewBox="0 0 590 590" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="590" height="590" fill="white" />
                <path d="M470 559L403.14 352.69L294.224 318.429L470 559Z" fill="#FFDD55" />
                <path d="M293.93 431.986L470 559L294.224 318.429L293.93 431.986Z" fill="#FFCC00" />
                <path d="M119 559L293.93 431.986L294.224 318.429L119 559Z" fill="#FFDD55" />
                <path d="M185.816 353.995L119 559L294.224 318.429L185.816 353.995Z" fill="#FED42A" />
                <path d="M7 225L185.816 353.995L294.224 318.429L293.444 317.331L7 225Z" fill="#FFCC00" />
                <path d="M227.859 225H7L293.444 317.331L227.859 225Z" fill="#FFE681" />
                <path d="M366.759 225L295 19L294.612 168.714L294.226 317.583L366.759 225Z" fill="#FFDD55" />
                <path d="M584 225H366.759L294.226 317.583L294.224 318.429L584 225Z" fill="#FFE681" />
                <path d="M403.14 352.69L584 225L294.224 318.429L403.14 352.69Z" fill="#FFCC00" />
                <path d="M295 19L227.859 225L293.444 317.331L294.226 317.583L294.612 168.714L295 19Z" fill="#FFCC00" />
                <path
                    d="M119 559L185.816 353.995M119 559L293.93 431.986M119 559L294.224 318.429M470 559L403.14 352.69M470 559L293.93 431.986M470 559L294.224 318.429M584 225L403.14 352.69M584 225H366.759M584 225L294.224 318.429M295 19L227.859 225M295 19L366.759 225M295 19L294.612 168.714L294.226 317.583M7 225L185.816 353.995M7 225H227.859M7 225L293.444 317.331M185.816 353.995L294.224 318.429M403.14 352.69L294.224 318.429M293.93 431.986L294.224 318.429M294.224 318.429L294.226 317.583M294.224 318.429L293.444 317.331M227.859 225L293.444 317.331M366.759 225L294.226 317.583M293.444 317.331L294.226 317.583"
                    stroke="#FBCB0F" />
            </svg>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="mt-auto">
            <div class=" sm:mx-auto w-80">
                <div class="flex justify-center">
                    <div role="tablist" aria-label="tabs"
                        class="relative m-2 w-max h-9 grid grid-cols-3 items-center px-[3px] rounded-full bg-gray-900/20 overflow-hidden shadow-2xl shadow-900/20 transition">
                        <div
                            class="absolute indicator h-8 my-auto top-0 bottom-0 left-0 rounded-full bg-white shadow-md">
                        </div>
                        <button role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0"
                            class="relative block h-9 px-4 tab rounded-full  font-bold">
                            <span class="text-gray-800">Contact</span>
                        </button>
                        <button role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1"
                            class="relative block h-9 px-4 tab rounded-full">
                            <span class="text-gray-800">Group 1</span>
                        </button>
                        <button role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1"
                            class="relative block h-9 px-4 tab rounded-full">
                            <span class="text-gray-800">Group 2</span>
                        </button>
                    </div>
                </div>
                <div class="relative ">
                    <div role="tabpanel" id="panel-1" class="tab-panel transition duration-300">
                        <ul class="mt-auto divide-y divide-gray-200" id="users">
                            <li id="user1" class="p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User1</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>

                            </li>
                            <li id="user1" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AA</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User2</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>

                            </li>
                            <li id="user3" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User3</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>

                            </li>
                            <li id="user4" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User4</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" id="panel-2"
                        class="absolute w-full top-0 invisible opacity-0 tab-panel transition duration-300 hidden">
                        <ul class="mt-auto divide-y divide-gray-200" id="users">
                            <li id="user1" class="p-2 hover:bg-gray-100">
                                <a [routerLink]="['/message/1234']" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User8</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AA</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User9</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user3" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User10</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user4" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User11</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" id="panel-3"
                        class="absolute w-full top-0 invisible opacity-0 tab-panel transition duration-300 hidden">
                        <ul class="mt-auto divide-y divide-gray-200" id="users">

                            <li id="user1" class="p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User4</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AA</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User5</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user3" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User6</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user4" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User7</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User4</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AA</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User5</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user3" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User6</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user4" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User7</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User4</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AA</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User5</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user3" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User6</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user4" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User7</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User4</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AA</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User5</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user3" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User6</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user4" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User7</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User4</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AA</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User5</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user3" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User6</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user4" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User7</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User4</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user1" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AA</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User5</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user3" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">AB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User6</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                            <li id="user4" class="border p-2 hover:bg-gray-100">
                                <a href="#" class="flex flex-row ">
                                    <div
                                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                        <span class="font-medium text-gray-600 dark:text-gray-300">JB</span>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-base text-gray-950">User7</p>
                                        <p class="text-sm text-gray-500"><span class="mr-1">User:</span>message</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
