<form action="" class="w-[calc(40rem)] mt-32 rounded-lg border px-2 py-3 backdrop-blur-lg h-fit">
    <div class="flex flex-col">
        <button class="w-7 h-7 absolute -right-3 -top-3 bg-slate-0 hover:bg-slate-200 rounded-full border-2 border-red-600 ">
            <svg class="text-red-600" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
        </button>
        <label for="groupName" class="my-2 text-base font-bold">Name</label>
        <input type="text" id="groupName" class="text-base p-2 rounded-lg" value="myGroup">
        <label for="contact" class="my-2 text-base font-bold">Contact</label>
        <input type="text" id="contact" class="text-base p-2 rounded-lg">
        <section class="w-full flex justify-center">
            <ul
                class="mt-2 max-h-80 h-fit absolute backdrop-blur-xl bg-slate-400/40 max-w-xl w-full overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
            </ul>
        </section>
        <button type="button" class="w-fit text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 my-2">Create new group</button>

    </div>

</form>