<div class="z-10 h-screen w-screen inline-flex justify-center bg-slate-500/30 absolute backdrop-blur-sm">
    <form action="" class="w-[calc(40rem)] rounded-lg border px-2 py-3 backdrop-blur-lg h-fit -translate-y-1/2 top-1/2 absolute animate-fade-down animate-once">
        <div class="flex flex-col">
            <button (click)="onClose()" class="w-7 h-7 absolute -right-3 -top-3 bg-slate-0 hover:bg-slate-200 rounded-full border-2 border-red-600 ">
                <svg class="text-red-600" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
            </button>
            <label for="groupName" class="my-2 text-base font-bold">Name</label>
            <input [(ngModel)]="newGroup.groupName" [ngModelOptions]="{standalone: true}" type="text" id="groupName" class="text-base p-2 rounded-lg" value="myGroup">
            <label for="memberSearch" class="my-2 text-base font-bold">Member</label>
            <input #memberSearch (keydown)="onSearch($event)" type="text" id="memberSearch" class="text-base p-2 rounded-lg">
            <section class="w-full flex justify-center">
                <ul
                    class="mt-2 max-h-80 h-fit absolute backdrop-blur-xl bg-slate-400/40 max-w-xl w-full overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
                    <!-- <li *ngIf="users.length<1">Not found any user</li> -->
                    <li (click)="appendUser(user)" *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
                </ul>
            </section>
            <button (click)="createGroup()" type="button" class="w-fit text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 my-2">Create new group</button>
            <div *ngIf="addedUsers.length>0">
                <ul
                    class="mt-2 max-h-80 h-fit absolute backdrop-blur-xl bg-slate-400/40 max-w-xl w-full overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
                    <li *ngFor="let user of addedUsers">{{user.firstName}} {{user.middleName}} {{user.lastName}}</li>
                </ul>
            </div>
        </div>
    
    </form>
</div>