<form action="" class="w-96 rounded-lg border px-2 py-3 backdrop-blur-lg h-fit">
    <div class="flex flex-col">
        <label for="groupName" class="my-2 text-base font-bold">Name</label>
        <input type="text" id="groupName" class="text-base p-2 rounded-lg" value="myGroup">
        <label for="contact" class="my-2 text-base font-bold">Contact</label>
        <input type="text" id="contact" class="text-base p-2 rounded-lg">
        <section class="w-full">
            <ul class="mt-2 max-h-80 h-fit absolute backdrop-blur-xl bg-slate-400/40 w-80 overflow-y-auto">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
            </ul>
        </section>
        <p>abc</p>
    </div>

</form>
